# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore local development environment files
venv/
.env

# Ignore package and distribution files
*.egg-info/
dist/
build/
*.egg

# Ignore system and IDE files
*.pydevproject
*.project
.DS_Store
.idea/
.vscode

# Ignore compiled files and executables
*.exe
*.dll
*.so
*.out
*.pyc

# Ignore log files
*.log

# Ignore sensitive or private information
secrets.ini
